/.bundle
*.gem
/db/*.sqlite3
/db/*.sqlite3-journal
/db/*.sqlite3-*
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep
/storage/*
!/storage/.keep
/public/assets
.byebug_history
/config/master.key
/public/packs
/public/packs-test
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity
orchestration/.sidecar
.env
deploy.tar
orchestration/.build/
orchestration/.deploy/
orchestration/Gemfile
orchestration/Gemfile.lock
orchestration/docker-compose.local.yml
.rspec_status
